$color_primary: #9356dc;
$color_secondary: #ff79da;
$color_tertiary: #99e2d0;

$color_linear: linear-gradient(0deg, $color_primary 5%, $color_secondary);

$color_darkgrey: #353535;
$color_grey: #eaeaea;
$color_lightgrey: #f6f6f6;

$color_label: #99e2d0;
$color_label_text: #008463;

$default_radius: 1rem;
$default_shadow: 0px 2px 5px 1px rgb(0 0 0 / 15%);
$transition: all 0.3s ease;

$max-width: 992px;

@mixin styled_button {
  transition: $transition;
  --size: 2.5rem;
  border-radius: calc(var(--size) / 2);
  height: var(--size);
  line-height: 0;
  padding: 1rem;
  color: white;
  background: $color_linear;

  background-size: 100% 125%;
  background-position: 100% 0%;
  box-shadow: none;
  transform: translateY(0px);
  @media (hover: hover) {
    &:hover {
      background-size: 100% 200%;
      box-shadow: $default_shadow;
      transform: translateY(-2px);
    }
  }
}
