@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

/*
    bouton:hover color lighten + shadow darker 
    bouton j'aime animé au survorl et au clic 
    loading spinner artificiel de 1s au couleur du site
    apparition des menus move in escalier
    les plats sont des checkbox 
    text trop long = ... donc width exigé
*/
.main {
  position: relative;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
@keyframes fade_out {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader_layer {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 111;
  display: flex;
  animation: fade_out 2s linear forwards;
}
.loader_layer .loader {
  margin: auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #9356dc;
  animation: rotation 2s linear forwards;
}
.loader_layer .loader::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  border: 2px solid #ff79da;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.title {
  font-family: "Shrikhand", cursive;
}

header {
  display: flex;
  flex-direction: column;
}
header img {
  display: inline-block;
  margin: auto;
  padding-block: 1rem;
}
header .location {
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  display: flex;
}
header .location p {
  margin: auto;
}
header .location p .location_icon {
  margin-inline: 0.5rem;
}

h1 {
  font-weight: 700;
  font-size: 1.3rem;
}

button {
  position: relative;
  background-color: #f6f6f6;
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.15);
  height: 50px;
  padding-block: 12px;
  cursor: pointer;
}

.hero {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  padding-block: 4rem;
  padding-inline: 1rem;
  margin-bottom: 2rem;
}
.hero .hero_title {
  margin: 0;
}
.hero .hero_text {
  font-weight: 300;
  margin-bottom: 1rem;
}
.hero .hero_button {
  --size: 2.5rem;
  border-radius: calc(var(--size) / 2);
  height: var(--size);
  line-height: 0;
  padding: 1rem;
  color: white;
  background: linear-gradient(0deg, #9356dc 30%, #ff79da);
}

.howTo {
  margin-inline: 1rem;
  margin-block: 2rem;
}
.howTo .howTo_flex {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  padding: 1.5rem;
}
@media (max-width: 1024px) {
  .howTo .howTo_flex {
    flex-direction: column;
    align-items: center;
  }
}
.howTo .howTo_flex .howTo_steps {
  position: relative;
  min-width: 300px;
  height: 3.5rem;
  transition: all 0.3s ease;
  font-weight: 700;
  text-align: left;
  padding: 1rem;
}
.howTo .howTo_flex .howTo_steps:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.howTo .howTo_flex .howTo_steps:hover span.howTo_steps_icon {
  color: #9356dc;
}
.howTo .howTo_flex .howTo_steps span.step_number {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #9356dc;
  color: white;
  font-size: 0.8em;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.3rem;
  text-align: center;
}
.howTo .howTo_flex .howTo_steps span.howTo_steps_icon {
  margin-inline: 1rem;
  transition: all 0.3s ease;
}

.restaurants {
  padding: 2rem 1rem;
  background-color: #f6f6f6;
}
.restaurants .restaurants_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 30vw));
  gap: 3rem;
  justify-content: center;
  justify-items: center;
  width: min(100%, 1200px);
  margin: auto;
}
@media (max-width: 768px) {
  .restaurants .restaurants_container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 375px));
    row-gap: 1rem;
  }
}
.restaurants .restaurants_container .restaurants_card {
  position: relative;
  width: 100%;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  overflow: hidden;
}
.restaurants .restaurants_container .restaurants_card .card_label {
  display: none;
  user-select: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #008463;
  background-color: #99e2d0;
  font-size: 0.8rem;
  padding: 0.3rem 0.6rem;
}
.restaurants .restaurants_container .restaurants_card.new_label .card_label {
  display: block;
}
.restaurants .restaurants_container .restaurants_card .card_img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.restaurants .restaurants_container .restaurants_card .card_img img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}
.restaurants .restaurants_container .restaurants_card .card_body {
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurants .restaurants_container .restaurants_card .card_body .card_name h2 {
  font-size: 1rem;
  font-weight: 700;
}
.restaurants .restaurants_container .restaurants_card .card_body .card_name p {
  font-weight: 300;
}
.restaurants .restaurants_container .restaurants_card .card_body .card_likeButton {
  position: relative;
  width: 1rem;
  height: 1rem;
}
.restaurants .restaurants_container .restaurants_card .card_body .card_likeButton span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  cursor: pointer;
}
.restaurants .restaurants_container .restaurants_card .card_body .card_likeButton .icon-filled {
  opacity: 0;
  color: #9356dc;
}
.restaurants .restaurants_container .restaurants_card .card_body .card_likeButton .icon-hollow {
  opacity: 1;
}
.restaurants .restaurants_container .restaurants_card .card_body .card_likeButton:hover .icon-filled {
  opacity: 1;
}
.restaurants .restaurants_container .restaurants_card .card_body .card_likeButton:hover .icon-hollow {
  opacity: 0;
}

footer {
  background-color: #353535;
  padding: 1.5rem 1rem;
  color: white;
}
footer img {
  filter: invert(100%);
  margin-bottom: 1rem;
  height: 1rem;
}
footer p {
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
}
footer span.footer_icon {
  display: inline-block;
  width: 1.5rem;
  text-align: center;
}
footer a,
footer a:visited,
footer a:focus {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
